<div id="summary">
    <h2>Expense Summary</h2>
    <div bar-chart data='summaryData'></div>
</div>
<div id="details">
    <h2>Expense Details</h2>
    <div class="exp-details" ng-repeat="expense in expenses">
        <div class="span1">{{$index+1}}</div>
        <div class="span3">{{expense.category}}</div>
        <div class="span4">{{expense.description}}</div>
        <div class="span2">{{expense.amount|currency:"$" }}</div>

    </div>
</div>
        <!--
<div id="test">
    should be visible on large screen
</div>
        -->